<!-- <app-common></app-common> -->

<ion-content class="ion-padding">
  <!-- <div class="breadcrumbs">
    <ul>
      <li><a (click)="back()"><span>Products</span></a></li>
      <li><a (click)="back()"><span>Category</span></a></li>
      <li><span>Edit</span></li>
       <li><span>Edit</span></li>
    </ul>
  </div> -->
  <ion-row>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="page-heading page-heading-btn">
        <h2>Edit Sub-Category</h2>
        <ion-icon class="close" name="close-circle-outline" (click)="close()"></ion-icon>
      </div>
      <!-- <div *ngIf="isError" class="alert alert-danger" role="alert">
    {{Error}}
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
  </div> -->
      <ion-card class="ion-no-margin">
        <ion-card-content>
          <form (ngSubmit)="onClickSubmit()" padding-right [formGroup]="productForm">
            <ion-item lines="inset" class="ion-no-padding">
              <ion-label position="floating">Title</ion-label>
              <ion-input formControlName="title"></ion-input>
            </ion-item>
            <span class="error" *ngIf="touched && errorControl.title.errors?.required">
              This field cannot be empty
            </span>
            <span class="error" *ngIf="errorControl.title.errors?.maxlength">
              Title should be less than 50 characters
            </span>

            <ion-item lines="inset" class="ion-no-padding">
              <ion-label position="floating">Description</ion-label>
              <ion-textarea rows="5" formControlName="description"></ion-textarea>
            </ion-item>
            <span class="error" *ngIf="touched && errorControl.description.errors?.required">
              This field cannot be empty
            </span>
            <span class="error" *ngIf="errorControl.description.errors?.maxlength">
              Description should be less than 2000 characters
            </span>
            <!-- <ion-card class="ion-no-margin ion-no-padding listing-card mt-4">
              <ion-card-content>
                <div class="page-heading-2">
                  <h2>Posts</h2>
                </div>
                <ion-list class="ion-no-padding">
                  <ion-reorder-group (ionItemReorder)="onRenderItems($event)" disabled="false">
                    <ion-item class="ion-no-padding" *ngFor="let detail of contents">
                      <ion-label class="d-flex align-items-center">
                        <ion-reorder></ion-reorder>
                        <h2>{{detail.title}}</h2>
                        <ion-icon class="icon-button ml-auto" size="medium" slot="icon-only" name="create-outline"
                          (click)="getContentDetail(detail)"></ion-icon>
                        <ion-icon class="icon-button delete" size="medium" slot="icon-only" name="trash-outline"
                          (click)="deleteContent(detail)"></ion-icon>
                      </ion-label>
                    </ion-item>
                  </ion-reorder-group>

                </ion-list>
                <ion-button size="default" color="medium" class="sub-buttons" slot="end" (click)="creatPost()">
                  <ion-icon name="add-outline" size="small" class="mr-2"></ion-icon>Create New Post
                </ion-button>
              </ion-card-content>
            </ion-card> -->
            <!-- </ion-col> -->
            <!-- <ion-col class="pl-10 ion-no-padding" size-xl="4" size-lg="5" size-sm="12" size-md="12" size-xs="12">
        <ion-card class="ion-no-margin side-card">
          <ion-card-content>
            <ion-item lines="none" class="ion-no-padding">
              <ion-radio-group formControlName="visibility" (ionChange)="changeStateCallback($event)">
                <ion-list-header class="ion-no-padding">
                  <ion-label>visibility</ion-label>
                </ion-list-header>
                <ion-row>
                  <ion-col class="col-12">
                    <ion-item lines="none">
                      <ion-label class="ion-padding-end">Published</ion-label>
                      <ion-radio color="secondary" slot="start" value="published"></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col class="col-12">
                    <ion-item lines="none">
                      <ion-label class="ion-padding-end">Draft</ion-label>
                      <ion-radio color="secondary" slot="start" value="draft"></ion-radio>
                    </ion-item>
                  </ion-col>
                  <ion-col class="col-12">
                    <ion-item lines="none">
                      <ion-label class="ion-padding-end">Locked</ion-label>
                      <ion-radio color="secondary" slot="start" value="locked"></ion-radio>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-item>
            <div *ngIf="openEditor">
              <ion-item lines="inset" class="ion-no-padding">
                <ion-label position="floating">Infusionsoft Tags</ion-label>
                <div class="editor-tag">
                  <span class="tag-item" *ngFor="let tag of tags">
                    {{tag}}
                    <span class="remove-tag" (click)="removeTag(tag)">×</span>
                  </span>
                  <ion-input placeholder="add new tag" #tagInput type="text" class="input-tag"
                    (keyup)="onKeyUp($event)" formControlName="tags"></ion-input>
                </div>
              </ion-item>
              <span class="error" *ngIf="errorControl.title.errors?.required">
                This field cannot be empty
              </span>
              <ion-item lines="none" class="ion-no-padding">
                <textarea formControlName="formModel">hello</textarea>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col> -->
            <ion-item lines="none" class="ion-item-right-margin default-button ion-no-padding">
              <ion-button [disabled]="!productForm.valid" size="default" slot="end" (click)="onClickSubmit()"
                (keyup.enter)="onClickSubmit()">Submit
              </ion-button>
            </ion-item>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>