<!-- <app-common></app-common> -->

<ion-content padding="true">
  <ion-row class="ion-justify-content-center auth-layout">
    <ion-col size-sm="12" size-lg="4">
      <!-- <img class="app-logo" src="assets/icon/application-logo.png" alt="" /> -->
      <h2 class="mb-3">Change Password</h2>
      <div class="login-card">
        <div class="alert alert-danger" role="alert" *ngIf="isError">
          <!-- <ng-container >

          </ng-container> -->
          {{Error}}
          <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        </div>
        <ion-card>
          <ion-card-content no-padding>
            <form (ngSubmit)="changePassword()" padding-right [formGroup]="loginForm">
              <ion-item lines="inset" class="ion-no-padding">
                <ion-label position="floating">Current Password</ion-label>
                <ion-input formControlName="currentPassword" type="password"></ion-input>
              </ion-item>
              <span class="error" *ngIf=" touched && errorControl.currentPassword.errors?.required">
                This field cannot be empty
              </span>
              <ion-item lines="inset" class="ion-no-padding">
                <ion-label position="floating">New Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.password">
                  <div class="error-message"
                    *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
              <!-- <span class="error" *ngIf=" errorControl.username.errors?.required">
                This field cannot be empty
              </span>
              <span class="error" *ngIf=" errorControl.username.errors?.pattern">
                Enter Correct Email
              </span> -->

              <ion-item lines="inset" class="ion-no-padding">
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-input formControlName="confirmpassword" type="password"></ion-input>
              </ion-item>

              <ng-container *ngFor="let error of error_messages.confirmpassword">
                <div class="error-message"
                  *ngIf="loginForm.get('confirmpassword').hasError(error.type) && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
                  {{ error.message }}
                </div>
              </ng-container>
              <div class="error-message"
                *ngIf="!loginForm.get('confirmpassword').errors && loginForm.hasError('passwordNotMatch') && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
                Password and Confirm Password fields should match
              </div>
              <!-- <span class="error" *ngIf=" errorControl.password.errors?.required">
                This field cannot be empty
              </span> -->
              <ion-item lines="none" class="ion-item-right-margin default-button ion-no-padding">
                <ion-button size="default" slot="end" type="submit" [disabled]="!loginForm.valid">Submit</ion-button>
              </ion-item>
            </form>

            <ion-button (click)="back()" color="medium" fill="outline">
              <ion-icon class="mr-2" name="chevron-back-outline"></ion-icon>Back
            </ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
